@import "mixins";
@import "nav";
@import "products";

@keyframes opacity{
    from { opacity: 0;}
    to { opacity: 1;}
}

.alert {
    padding: .5em;
    color: rgb(255, 0, 0);
    border-bottom: 1px solid rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, .1);
    animation: opacity .5s ease;
}

.breadcrumb:before {
    content: '\203A';
}

.auth {
    margin-top: 1rem;
}
