.products {
    .product__title {
        text-align: center;
        font-weight: 400;
        position: static;
        font-size: 1rem;

        @media #{$medium-and-down} {
            font-size: 1rem;
            margin: .5rem 0;
        }

        @media #{$small-and-down} {
            font-size: .8rem;
        }
    }

    .product__price {
        margin: 1rem 0;

        @media #{$small-and-down} {
            font-size: .5rem 0;
        }
    }

}


.product-card {
    box-shadow: none;

    @media #{$small-and-down} {
        margin-bottom: 0!important;
     }

    &__image {
        
        @media #{$medium-and-down} {
           margin-bottom: 1rem;
        }
    }
    
    
    &--products {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .card-action--products {
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .card-action {

        &--products {
            margin-left: 0!important;
            padding: .5rem 0;
            margin-right: 0!important;
    
            @media #{$medium-and-down} {
                padding: .5rem 0;
                margin-bottom: 1rem;
            }

            @media #{$small-and-down} {
                margin-bottom: .5rem;
            }
        }
        
        &__form {
            width: 100%;
            margin-top: 1.5rem;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
    
        &__form__quantity {
            width: 20% !important;
            height: 2.5rem !important;
            text-align: center;

            @media #{$small-and-down} {
                font-size: 1rem;
                height: 1.8rem !important;
            }
        }
    
        &__form__btn {
            width: 70% !important;
            @media #{$small-and-down} {
                font-size: 1rem;
                height: 1.8rem !important;
                line-height: 1.8rem;
            }
        }
    
        a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
            margin-right: 0;
            text-transform: none;
            font-size: .8rem;
        }
    }
}




.row--products {

    // @media #{$small-and-down} {
    //         flex-wrap: wrap;
    // }

    div {
        margin-bottom: 2rem;
    }
}

// .product{
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     &__title {
//         font-family: 'Open Sans', sans-serif;
//         font-size: 1.5rem;
//         margin: 2rem 0;
//         text-align: center;
//         font-weight: 700;

//         @media #{$small-and-down} {
//             margin: .5rem 0;
//         }
//     }

//     &__img {
//         max-width: 300px;
//         height: auto;
//     }

//     &__price {
//         font-size: 1.5rem;
//         padding-top: 0!important;
//         padding-bottom: 0!important;

//         @media #{$small-and-down} {
//             font-size: 1rem;
//             margin: .5rem 0;
//         }
//     }

//     &__price.big {
//         font-size: 2.5rem;
//     }

//     &__remove {
//         margin-top: 1rem;
//     }
// }

