 <div class="auth-link__wrapper">
    <a href="/auth/login#login" class="auth-link link_accent">Войти</a>
    <a href="/auth/login#register" class="auth-link link_accent">Зарегистрироваться</a>
</div>