<div class="row product-cards">
    <div class="col s12 m6">

        {{> product-card}}

    </div>
   
    <div class="description col s12 m6">
        <h4>Описание</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quod, nesciunt ex enim aperiam neque molestiae minus placeat ipsa perspiciatis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quod, nesciunt ex enim aperiam neque molestiae minus placeat ipsa perspiciatis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quod, nesciunt ex enim aperiam neque molestiae minus placeat ipsa perspiciatis!</p>
    </div>
</div>


