
<div class="row product-cards" id="product">

     <div class="col s12 m6">

       {{#each category}}
          <a href="/products/category/{{this}}">{{this}}</a>
        {{/each}}

        {{> product/slider}}

        {{> button/buy-product}}

    </div>
    <div class="description col s12 m6">
        <h4>Описание</h4>
        <p>{{description}}</p>
    </div>
    
</div>




