@keyframes opacity{
    from { opacity: 0;}
    to { opacity: 1;}
}

.alert {
    padding: .5em;
    color: rgb(255, 0, 0);
    border-bottom: 1px solid rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, .1);
    animation: opacity .5s ease;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin-right: 0;
    text-transform: none;
    font-size: .8rem;
}

.nav-wrapper {
    padding: 0 2rem;
}

.row--products {
    display: flex;
    align-items: stretch;
}

.card .card-title--products {
    margin: 0;
    padding: 14px 24px;
    color: #000000;
    font-weight: 500;
    position: static;
}

.card .card-price {
    font-size: 2rem;
    padding: 14px 24px;
}

.card--products {
    height: 100%;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .card-action--products {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card .card-action__form {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.card-action__form__quantity {
    width: 20% !important;
    height: 2.5rem !important;
    text-align: center;
}

.card .card-action__form__btn {
    width: 70% !important;
}

.product{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__title {
    font-size: 1.5rem;
    margin: 2rem 0;
    font-weight: 700;
}

.product__img {
    max-width: 300px;
    height: auto;
}

.product__price {
    font-size: 2rem;
}

.product__price.big {
    font-size: 2.5rem;
}

.breadcrumb:before {
    content: '\203A';
}

.product__remove {
    margin-top: 1rem;
}

.auth {
    margin-top: 1rem;
}