<div class="card product-card">

{{#if productPage}}

    {{> product/title}}

    <div class="card-image">

        {{> product/images}}

    </div>

{{!-- Ссылка на страницу товара --}}
{{else}}

    <div class="card-image">

            {{> product/image}}

    </div>

    <a href="/products/{{id}}">

        {{> product/title}}

    </a>
{{/if}}

    <div class="product-card__price">

        {{> product/price}}

    </div>

</div>
