<div class="input-field">
    <select required name="category" multiple>
        <option value="anime">anime</option>
        <option value="animal">animal</option>
    </select>
    <label>Категория</label>
</div>