<div class="card product-card">

{{#if productPage}}

    {{> product/title}}

    <div class="card-image product-card__image">

        {{> product/images}}

    </div>

{{!-- Ссылка на страницу товара --}}
{{else}}


    <a href="/products/{{id}}">
        <div class="card-image product-card__image">

                {{> product/image}}

        </div>
    </a>

        {{> product/title}}

{{/if}}

    <div class="product-card__price">

        {{> product/price}}

    </div>

</div>
