.product {
    &__title {
        font-family: $font-primary;
        font-size: 1.5em;
        margin: .5em 0;
        font-weight: 700;
        text-transform: uppercase;
        @extend .grey-text, .text-darken-2;

        @media #{$medium-and-down} {
            font-size: 1.2rem;
        }

        @media #{$small-and-down} {
            font-size: .9rem;
        }
    }

    &__price {
        font-family: $font-accent;
        font-size: 2em;
        text-align: center;
        margin: .5em 0;
        text-transform: uppercase;

        @media #{$medium-and-down} {
            font-size: 1.2rem;
            padding: 0;
            margin-bottom: .5rem;
        }

        @media #{$small-and-down} {
            font-size: .9rem;
        }
    }
    
    &__image {
        object-fit: cover;
        display: block;
        @include size(100%, 100%);
        min-width: 80px;
    }
}