<div class="input-field">
    <select name="payment" required>
        <option value="card" selected>Оплата картой</option>
        <option value="cash">Оплата наличными</option>
    </select>
    <label>Способ оплаты:</label>
</div>