<label class="shipping-option np-department">
    <input id="npDepartment" name="shipping" type="radio" checked value="npDepartment" required/>
    <span>Новая почта (самовывоз из отделения)</span>
</label>

<label class="shipping-option np-address">
    <input id="npAddress" name="shipping" type="radio" value="npAddress" required/>
    <span>Новая почта (курьерская доставка)</span>
</label>

<label class="shipping-option ukrposhta">
    <input id="ukrposhta" name="shipping" type="radio" value="ukrposhta" required/>
    <span>Укрпочта</span>
</label>